body {color:#221811;
    background-image:url(background.gif);
    font-family: Arial,Verdana, sans-serif;}
#wrapper {width: 80%;
        background-color:#FEF6C2;
        margin-left: auto; 
        margin-right: auto; 
        min-width:900px;
        max-width: 1280px;
        box-shadow: 5px 5px 5px #828282;}
header {background-color: #d2b48c;
        height: 150px;
        background-image: url(javajamlogo.jpg);
        background-repeat: no-repeat;}
h1 {padding-top: 45px; 
    padding-left: 220px;
    font-size: 3em;} 
h4 {background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;}
nav {text-align: center; 
    font-weight: bold; 
    font-size: 1.5em;
    padding-top: 10px;}
main {padding-left: 2em;
      padding-right: 2em;
    padding-bottom: 2em;
    display: block;}

footer {background-color: #d2b48c;
        font-size: small(.60em);
        font-style: italic;
        text-align: center;
        padding-bottom: 10px;
        border-top: 2px solid #221811;}
nav a {text-decoration: none;}
.details {padding-right: 20%;
          padding-left: 20%;}
img {padding-left: 10px;
    padding-right: 10px;}